.iconDiv {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.iconDiv__icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	margin-right: 8px;
}

.iconDiv__icon--block {
	background-image: url("chrome-extension://__MSG_@@extension_id__/img/block.svg");
}

.iconDiv__icon--clean {
	background-image: url("chrome-extension://__MSG_@@extension_id__/img/shield-clean.svg");
}

.iconDiv__icon--caution {
	background-image: url("chrome-extension://__MSG_@@extension_id__/img/shield-caution.svg");
}

.iconDiv__icon--untrusted {
	background-image: url("chrome-extension://__MSG_@@extension_id__/img/shield-untrusted.svg");
}

.profile__picture--clean {
	border: 4px solid lime !important;
}

.profile__picture--caution {
	border: 4px solid orange !important;
}

.profile__picture--untrusted {
	border: 4px solid #f00 !important;
}
